{% extends 'base.html.twig' %}

{% block title %} PRODUIT {% endblock %}
{% block breadcrumb_title %} PRODUIT  {% endblock %}
{% block icon_menu %}bi bi-bag-check{% endblock %}
{% block breadcrumb_subtitle %}Gestion des produits {% endblock %}

{% block content  %}

    <div class="row g-1">
        <div class="col-md-12">
            <div class="card p-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-1" type="submit">{{ button_label|default('Ajouter') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}