<!--start top header-->
<header class="top-header">
    <nav class="navbar navbar-expand row justify-content-between">
        <div class="top-navbar-right ms-3 col-4">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                        <div class="user-setting d-flex align-items-center gap-1">
                                GESTION DES Produits
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--end top header-->
