<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">

    </div>

    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="">
                <div class="parent-icon"><i class="bi bi-house-door"></i></div>
                <div class="menu-title">Accueil</div>
            </a>
        </li>

        <li class="menu-label"><b style=" color:#198754">Produits</b></li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-bag-check"></i>
                </div>
                <div class="menu-title">Opérations</div>
            </a>
            <ul>
                <li> <a href="{{ path('app_produit_index') }}"><i class="bi bi-arrow-right-short"></i>Produits</a></li>
            </ul>
        </li>
    </ul>
    <!--end navigation-->
</aside>
<!--end sidebar -->