{% extends 'base.html.twig' %}

{% block title %} SERVICE {% endblock %}
{% block breadcrumb_title %} SERVICE  {% endblock %}
{% block icon_menu %}bi bi-bag-check{% endblock %}
{% block breadcrumb_subtitle %}Gestion des services {% endblock %}

{% block content  %}

    <div class="row g-1">
        <div class="col-md-5">
            <div class="card p-3">
                {{ include('source/_form.html.twig') }}
            </div>
        </div>
        <div class="col-md-7">
            <div class="card p-3">
                {{ include('source/_table.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}