{% extends 'base.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block content %}
    <div class=" m-3 mt-5 d-flex flex-column align-items-center justify-content-center text-center" style="height: 500px ">
        <div >
            <h1 style=" color:#ffc12e; font-size: 100px">SGESPRO</h1>
            <br>
            <p style="font-size: 30px; color:#991800;">Système de Gestion des Produits</p>
        </div>
    </div>
{% endblock %}


